[Unit]
Description=ICPC Judged
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/judged /home/judge
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
